extends layout

block content
  h1= title
  p Welcome to #{title}
  
  each message in messages
    div.message
      p
        strong User: 
        | #{message.user}
      p
        strong Message: 
        | #{message.text}
      p
        strong Date: 
        | #{message.added.toDateString()}
  
  h3=footer 
  p This is part of #{footer}